body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-color: rgb(31, 31, 36);
}

.overflow-hidden {
  overflow: hidden;
}

Button {
  padding-top: 1.5;
  padding-bottom: 1.5;
  font-size: '1rem';
  font-weight: 600;
  background: 'linear-gradient(45deg, #3b82f6, #2563eb)';
}

Button:hover {
  background: 'linear-gradient(45deg, #2563eb, #1d4ed8)';
}

Typography > * {
  font-weight: 700;
  background: 'linear-gradient(45deg, #60a5fa, #3b82f6)';
  background-clip: 'text';
}
